@model IEnumerable<quanlybanhang.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Adminlayout.cshtml";
}

<table class="table bg-warning col-md-6">
    <tr>
        <th class="bg-danger col-md-4">
            @*@Html.DisplayNameFor(model => model.CategoryName)*@
            TÊN DANH MỤC
        </th>
        <th class="bg-danger col-md-2"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td align="right">
                @Html.ActionLink("Cập nhật", "Edit", new { id = item.CategoryID }, new { @class = "btn btn-primary btn-sm" }) |
                @Html.ActionLink("Xem chi tiết", "Details", new { id = item.CategoryID }, new { @class = "btn btn-primary  btn-sm" }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.CategoryID }, new { @class = "btn btn-primary btn-sm" })
            </td>
        </tr>
    }

</table>
<p>
    @Html.ActionLink("Thêm mới", "Create", null, new { @class = "btn btn-primary" })
</p>