@model quanlybanhang.Models.ViewModel.ProductSearchVM
@using PagedList.Mvc
<html>
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Adminlayout.cshtml";
}

<head>
    <meta name="viewport" content="wight=device-wight" />
    <title>Search</title>
    <style>
        .search-container, .order-container {
            padding-top: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
    <!-- Form tìm kiếm -->
    @using (Html.BeginForm("Index", "Products", FormMethod.Get))
    {
        <div class="form-group search-container">
            @Html.TextBoxFor(m => m.SearchTerm, new
       {
                @class = "form-control",
                placeholder = " Nhập tên, mô tả hoặc chủng loại sản phẩm"
       })

            @Html.TextBoxFor(m => m.minPrice, new
       {
           @class = "form-control",
                placeholder = "Nhập giá tối thiểu",
                type = "number"
       })

            @Html.TextBoxFor(m => m.maxPrice, new
      {
          @class = "form-control",
          placeholder = "Nhập giá tối đa",
          type = "number"
      })
            <button type="submit" class="btn btn-primary">Tìm kiếm</button>
        </div>
        <!--Sắp xếp-->
        <div class="form-group order-container">
            Sắp xếp theo:
            @Html.ActionLink("Tên tăng dần", "Index", "Products", new
        {
           sortOrder = "name_asc",
                searchTerm = Model.SearchTerm,
                minPrice = Model.minPrice,
                maxPrice = Model.maxPrice
        }, null) |
            @Html.ActionLink("Tên giảm dần", "Index", "Products", new
        {
          sortOrder = "name_desc",
                searchTerm = Model.SearchTerm,
                minPrice = Model.minPrice,
                maxPrice = Model.maxPrice
        }, null) |
            @Html.ActionLink("Giá tăng dần", "Index", "Products", new
              {
                  sortOrder = "price_asc",
                searchTerm = Model.SearchTerm,
                minPrice = Model.minPrice,
                maxPrice = Model.maxPrice
              }, null) |
            @Html.ActionLink("Giá giảm dần", "Index", "Products", new
              {
                  sortOrder = "price_desc",
                searchTerm = Model.SearchTerm,
                minPrice = Model.minPrice,
                maxPrice = Model.maxPrice
              }, null) |
        </div>
    }
    <!--Form kq tìm kiếm-->
    @Html.Partial("PVListProduct", Model)
</body>
</html>
