
@model quanlybanhang.Models.ViewModel.ProductSearchVM
@using PagedList.Mvc
<head>
    <style>
        img {
            height: 150px;
            max-width: 150px;
        }
    </style>
</head>
<!--Hiển thị danh sách sản phẩm-->
@if (Model.Products != null && Model.Products.Any())
{
    <h2 class="bg-success container-fluid">DANH SÁCH SẢN PHẨM</h2>
    <table class="table bg-info ">
        <thead>
            <tr>
                <th class="bg-danger col-md-1">Hình ảnh</th>
                <th class="bg-danger col-md-3">Tên sản phẩm</th>
                <th class="bg-danger col-md-1">Đơn giá</th>

                <th class="bg-danger col-md-1">Mô tả</th>
                <th class="bg-danger col-md-1">Danh mục</th>
                <th class="bg-danger col-md-4"></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var product in Model.Products)
            {
                <tr>
                    <td>
                        <img src=" @Html.DisplayFor(modelItem => product.ProductImage)" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => product.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => product.ProductPrice)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => product.ProductDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => product.Category.CategoryName)
                    </td>
                    <td>
                        @Html.ActionLink("Sửa", "Edit", new { id = product.ProductID }, new { @class = "btn btn-primary btn-sm" })
                        @Html.ActionLink("Chi tiết", "Details", new { id = product.ProductID }, new { @class = "btn btn-primary btn-sm" })
                        @Html.ActionLink("Xóa", "Delete", new { id = product.ProductID }, new { @class = "btn btn-primary btn-sm" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="pagination-container">
        @Html.PagedListPager(Model.Products, page => Url.Action("Index", new { page, searchTerm = Model.SearchTerm, minprice = Model.minPrice, maxPrice = Model.maxPrice, sortOrde = Model.sortOrder }))
    </div>
}
else
{ <p>Không khả dụng</p>}

<div class="form-group">
    <div class="col-md-offset-8 col-md-4">
        @Html.ActionLink("Thêm mới", "Create", null, new { @class = "btn btn-primary" })
    </div>
</div>

